<p id="notice"><%= notice %></p>

<h1>Lista de Productos</h1>

<h2>Buscar referencia:</h2>
  <%= form_tag "/productos", method: :get do |f| %>
  <%= label_tag "Referencia" %>
  <%= text_field_tag :referencia %><span class="button"><%= submit_tag "Buscar" %></span>
  
  <% end%>

<h2>Tipo de producto:</h2>
  <%= form_tag "/productos", method: :get do |f| %>
  <%= label_tag "Digite tipo de producto" %>
  <%= text_field_tag :tipo_producto %> <span class="button"><%= submit_tag "Buscar" %></span>
   
  <% end%>

<table>
  <thead>
    <tr>
      <th>Referencia</th>
      <th>Marca</th>
      <th>Talla</th>
      <th>Tipo de producto</th>
      <th>Color</th>
      <th>Categoria</th>
      <th>Stock</th>
      <th>Tela</th>
      <th>Descripcion</th>
      <th>Costo</th>
      <th>Precio de venta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.referencia %></td>
        <td><%= producto.marca %></td>
        <td><%= producto.talla %></td>
        <td><%= producto.tipo_producto %></td>
        <td><%= producto.color %></td>
        <td><%= producto.categoria %></td>
        <td><%= producto.stock %></td>
        <td><%= producto.tela %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.costo %></td>
        <td><%= producto.preciodeventa %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Stock actual bodega:</h2> <span><%= @total_stock %></span>

<h2>Promedio de venta de productos:</h2><span><%= @promedio_ventas%></span>



<br>

<%= link_to 'Nuevo producto', new_producto_path %>
